.blue {
	color: #007bff;
	&-bg {
		background-color: #007bff;
	}
	&-before {
		&-corner {
			&.tl {
				&:before {
					border-color: rgba(#007bff, 0.8) transparent transparent transparent;
				}
			}
			&.tr {
				&:before {
					border-color: transparent rgba(#007bff, 0.8) transparent transparent;
				}
			}
			&.br {
				&:before {
					border-color: transparent transparent rgba(#007bff, 0.8) transparent;
				}
			}
			&.bl {
				&:before {
					border-color: transparent transparent transparent rgba(#007bff, 0.8);
				}
			}
		}
	}
}
.orange {
	color: $color-orange;
	&-bg {
		background-color: $color-orange;
	}
	&-before {
		&-corner {
			&.tl {
				&:before {
					border-color: rgba($color-orange, 0.8) transparent transparent transparent;
				}
			}
			&.tr {
				&:before {
					border-color: transparent rgba($color-orange, 0.8) transparent transparent;
				}
			}
			&.br {
				&:before {
					border-color: transparent transparent rgba($color-orange, 0.8) transparent;
				}
			}
			&.bl {
				&:before {
					border-color: transparent transparent transparent rgba($color-orange, 0.8);
				}
			}
		}
	}
}
