.blue {
	color: $color-blue;
	&-bg {
		background-color: $color-blue;
	}
	&-before {
		&-corner {
			&.tl {
				&:before {
					border-color: rgba($color-blue, 0.8) transparent transparent transparent;
				}
			}
			&.tr {
				&:before {
					border-color: transparent rgba($color-blue, 0.8) transparent transparent;
				}
			}
			&.br {
				&:before {
					border-color: transparent transparent rgba($color-blue, 0.8) transparent;
				}
			}
			&.bl {
				&:before {
					border-color: transparent transparent transparent rgba($color-blue, 0.8);
				}
			}
		}
	}
}
.orange {
	color: $color-orange;
	&-bg {
		background-color: $color-orange;
	}
	&-before {
		&-corner {
			&.tl {
				&:before {
					border-color: rgba($color-orange, 0.8) transparent transparent transparent;
				}
			}
			&.tr {
				&:before {
					border-color: transparent rgba($color-orange, 0.8) transparent transparent;
				}
			}
			&.br {
				&:before {
					border-color: transparent transparent rgba($color-orange, 0.8) transparent;
				}
			}
			&.bl {
				&:before {
					border-color: transparent transparent transparent rgba($color-orange, 0.8);
				}
			}
		}
	}
}
.granit {
	color: $color-granit;
	&-bg {
		background-color: $color-granit;
		color: $color-font-light;
	}
	&-before {
		&-corner {
			color: $color-font-light;
			&.tl {
				&:before {
					border-color: rgba($color-granit, 0.9) transparent transparent transparent;
				}
			}
			&.tr {
				&:before {
					border-color: transparent rgba($color-granit, 0.9) transparent transparent;
				}
			}
			&.br {
				&:before {
					border-color: transparent transparent rgba($color-granit, 0.9) transparent;
				}
			}
			&.bl {
				&:before {
					border-color: transparent transparent transparent rgba($color-granit, 0.9);
				}
			}
		}
	}
}
