.page-header {
  background-color: $color-light;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  .mobile-menu-button {
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 150;
    @media (min-width: $m) {
      display: none;
    }
  }
  .mobile-menu-closed {
    display: none;
    @media (min-width: $m) {
      display: flex;
    }
  }
  .mobile-menu-opend {
    display: flex;
    flex-direction: column;
    @media (min-width: $m) {
      display: flex;
      flex-direction: row;
    }
  }
}
