#page-header {
  background-color: #A0FCD6;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  @media (min-width: $m) {
    position: relative;
    height: $height-header;
    &:before {
      content: '';
      position: absolute;
      top: -60%;
      left: 0;
      width: 50%;
      height: 10vw;
      background-color: inherit;
      transform: skewY(7deg);
      z-index: -1;
    }
    &:after {
      content: '';
      position: absolute;
      top: -60%;
      right: 0;
      width: 50%;
      height: 10vw;
      background-color: inherit;
      transform: skewY(-7deg);
    }
  }
  &.sticky {
    @media (min-width: $m) {
      position: fixed;
    }
  }
  .mobile-menu-button {
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 150;
    @media (min-width: $m) {
      display: none;
    }
  }
  .mobile-menu-closed {
    display: none;
    @media (min-width: $m) {
      display: flex;
    }
  }
  .mobile-menu-opend {
    display: flex;
    flex-direction: column;
    @media (min-width: $m) {
      display: flex;
      flex-direction: row;
    }
  }
}
