#hero {
  height: 100vh;
  z-index: 1;
  position: relative;
  .content {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column;
    padding: 0;
  }
}
