.bg-fixed {
  background-attachment: fixed;
}
.bg-img-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg-hero {
  background-image: url('./assets/img/terassen.jpg');
}
.bg-about {
  background-image: url('./assets/img/stad5.jpg');
  min-height: 100%;
  width: 100%;
}
img {
  max-width: 100%;
}
