img {
	max-width: 100%;
}
.bg {
	&-m-fixed {
		@include media-breakpoint-up(md) {
			background-attachment: fixed;
		}
	}
	&-img-cover {
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
		display: flex;
		align-items: center;
		padding: $space 0;
		@include media-breakpoint-up(md) {
			min-height: 100vh;
			padding: $space*2 0;
		}
	}
	&-hero {
		background-image: url('./assets/img/start.jpg');
	}
	&-about-town {
		background-image: url('./assets/img/torghanel.jpg');
	}
	&-img {
		&-component {
			&-terrace {
				background-image: url('./assets/img/terrace.jpg');
			}
		}
	}
}
