h1, h2, h3, h4, h5, h6 {
	font-family: $font-headlines;
	transition: opacity 0.5s ease-in-out;
	line-height: 1.5;
	font-weight: 700;
	a:hover & {
		opacity: 0.5;
	}
}

p {
	margin: 0;
	padding-bottom: 0.5rem;
}

a {
	text-decoration: none;
	color: inherit;
	font: inherit;
	font-weight: 500;
	transition: opacity 0.5s ease-in-out;
	&:hover {
		opacity: 0.5;
	}
}

em {
	font-size: inherit;
}

ol, ul {
	list-style: none;
	li {
		color: inherit;
		font: inherit;
	}
}

h2 {
	font-size: 5vw;
	padding-bottom: $space;
	margin: 0;
	@include media-breakpoint-up(sm) {
		font-size: 2.2rem;
	}
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
