$font-headlines: 'Courgette', cursive;
$font-base: 'Play', sans-serif;

//breakpoints
$xs: 28rem;
$s: 50rem;
$m: 62rem;


$space: 1rem;

$color-font: #18191b;
$color-light: #fff;
$color-dark: #000;

//icons
$chevron-size: 1.5rem;
$chevron-thicknes: 0.2rem;
